body {
    background-color: hsl(212, 45%, 89%);
}

.QR-card {
    margin: 10% auto;
    width: 280px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.image {
    margin:15px;
    width: 250px;
    border-radius: 10px;
}

.title {
    margin: 0 15px;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
}

.text {
    margin: 15px;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
}